*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.zaim{
    width: 100%;
    height: 500px;
    margin-top: 15%;
    font-size: 100px;
    font-weight: 800;
    background-color: #fff;
    color: #535353;
    text-align: center;
}

.parallax{
    background: url("https://images.unsplash.com/reserve/JjdWbOCTlemWMuvC0BeF_DSC_0867edit.jpg?crop=entropy&dpr=2&fit=crop&fm=jpg&h=600&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300") repeat fixed 100%;
}

.parallax .yazi{
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    text-align: center;
    font-size: 100px;
    color: #fff;
    font-weight: 800;
}
